body {
  background-color: #29384d;
  height: 100%;
  margin: 0;
  padding: 0;
}

.VM {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.VM h3,
.VM h2,
.VM h1 {
  color: white;
}

.options {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.buttons-group {
  /* width: 45vw; */
  padding: 0 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ddd;
  color: #333;
  font-size: medium;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #ccc;
}

.btn.active {
  background: #ff9d0a;
  color: white;
}

.btn.primary {
  background: #007bff;
  color: white;
  margin-top: 10px;
}

.btn.primary:hover {
  background: #0056b3;
}

.btn.danger {
  background: #dc3545;
  color: white;
}

.btn.danger:hover {
  background: #c82333;
}

.user-form {
  width: 350px;
}

.vm-list {
  list-style: none;
  padding: 0;
}

.vm-item{
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.vm-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.vm-info a {
  color: #007bff;
  text-decoration: none;
}

.vm-info a:hover {
  text-decoration: underline;
}

.ssh-command{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  cursor: pointer;
}

.ssh-command pre{
  background: #ddd;
  border-radius: 5px;
  color: #333;
  padding: 10px;
  font-weight: 800;
  font-size: 14px;
}

.message, .error{
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 1rem;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .buttons-group {
    flex-direction: column;
    width: 100%;
  }

  button {
    width: 100%;
  }
}