.progress-wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress {
    border: 12px solid #fff; /* Fix: Définit une couleur réelle */
    border-top: 12px solid #ff9d0a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.progress-wrapper p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #ff9d0a;
}
